<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head>
    <meta charset="UTF-8" />
    <title>Not Signed In</title>
</head>
<body>
    <!--<th:block th:insert="fragments/header :: header" />-->
    BELUM MASUK DAN GA ADA TEMPLATE LAYOUT
    <!--<div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'">&copy; 2014 The Static Templates</div>-->
    <!--<div th:replace="fragments/footer :: footer" />-->
</body>
</html>