<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<th:block th:fragment="footer">
        <footer>
            <!-- this is footer -->
            <div class="container">
                <span sec:authorize="isAuthenticated()">
                    | Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                    <br>
                    <!--<p>Nama1: <span th:text="@{principal.getName()}"></span></p>-->
                    <!--<p>Nama2: <span th:text="@{principal.name}"></span></p>-->
                </span>
            </div>
            <script type="text/javascript"
                    src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>

</th:block>
</body>
</html>